body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

html, body, canvas {
    margin: 0;
    padding: 0;
}

#info {
    position: absolute;
    z-index: 50;
    top: 10px;
    left: 10px;
}

#canvas {
    display: none;
}

#load-screen {
    display: none;

}

#load-screen .load-step {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
}

#main-menu {
}

#main-menu .menu {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 32px;
}

#main-menu .menu-options {
    display: none;
}

#main-menu .menu-options .start-game {
}